<div class="accueil-container">
    <!-- Animation d'introduction -->
    <div id="typewriter-text-container">
        <div id="typewriter-text"></div>
    </div>
      
  
    <!-- Section principale -->
    <div class="content">
      <h1>🔎 Enquête Mystère</h1>
      <p class="mission">
        Votre objectif ? Découvrir les secrets cachés dans un parcours professionnel et personnel exceptionnel. Mais attention... chaque révélation comporte son propre défi. Saurez-vous démêler la vérité ?
        </p>
  
      <!-- Bouton pour démarrer -->
      <div class="btn-container">
        <button (click)="commencerEnquete()" class="start-btn">
          <i class="fas fa-search"></i> Commencer l'enquête
        </button>
      </div>
    </div>
  </div>


  <div>
    <button (click)="playSound()">play sound</button>
  </div>
