<div class="skills-container">
  <!-- Titre et description -->
  <div class="skills-header text-center">
    <h1 class="title">🔍 Découvrez mes compétences</h1>
    <p class="skills-description">
      Résolvez les énigmes pour débloquer mes compétences. Attention, le temps est limité !
    </p>
  </div>

  <!-- Grille de dossiers verrouillés -->
  <div class="skills-grid">
    <div
      class="skill-card"
      *ngFor="let skill of skills; let i = index"
      (click)="openModal(skill)"
    >
      <div class="skill-icon">
        <i [class]="skill.isUnlocked ? skill.icon : 'fas fa-lock'"></i>
      </div>
      <h3 class="skill-name">{{ skill.isUnlocked ? skill.name : 'Compétence ' + (i + 1) }}</h3>

    </div>
  </div>

  <!-- Modale pour les énigmes -->
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <button class = "close-button" (click)="closeModal()"><i class="fas fa-xmark"></i></button>
      <div class="row">
        <div class="col-md-8">
          <h2>{{ currentSkill?.question }}</h2>
          <div class="timer">Temps restant : {{ countdown }}s</div>
        </div>
        <div class="col-md-4">
          <div class="answers">
            <ng-container *ngFor="let answer of currentSkill?.answers">
              <button *ngIf="!answer.hidden" (click)="checkAnswer(answer)" [disabled]="isAnswerSelected">
                {{ answer.text }}
              </button>
            </ng-container>

            <div *ngIf="showAudienceResults">
              <p *ngFor="let answer of currentSkill?.answers">
                  {{ answer.text }} : {{ answer.votes }}%
              </p>
          </div>          
            
          </div>
          <div class="jokers">
            <button (click)="useJoker('50-50')" [disabled]="jokersUsed.includes('50-50')">
              50:50
            </button>
            <button (click)="useJoker('audience')" [disabled]="jokersUsed.includes('audience')">
              👥 L'avis du public
            </button>
            <button (click)="useJoker('pause')" [disabled]="jokersUsed.includes('pause')">
              ⏳ Pause chrono
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>